@model  DatingProjekt.Models.And
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutInloggad.cshtml";
}
<div class="alla">
<div class="bild">
    <img src="~/Content/Images/@Model.Profilbild" class="img-rounded" alt="hej">
    <br /><br />
    <div class="knappar">
    @using (Html.BeginForm("UserPicture", "Picture", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        <label class="btn btn-info">
            <input name="file" type="file" style="display: none" />
            Välj bild
        </label>
                <label class="btn btn-info">
                    <input type="submit" value="Change Profile" style="display: none" />
                    Ladda upp
                </label>
            }
        </div>
   </div>
<div class="ProfilInfo">
    <p>Namn: @Model.Förnamn @Model.Efternamn</p>
    <p>Ålder: @Model.Ålder</p>
    <p>Kön: @Model.Kön</p>
</div>
    </div>
