@{
    ViewBag.Title = "Ändra Språk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Ändra Språk</h2>
<ul>
    <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)</li>
    <li>@Html.ActionLink("Svenska", "Change", "Language", new { LanguageAbbrevation = "sv" }, null)</li>
</ul>
