@model DatingProjekt.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>ANDRA ÄNDER</h1>
    @Html.ActionLink(DatingProjekt.Resources.HomeTexts.FramsidaText, "Register", "Account")
</div>
<div class="row">
    @foreach (var and in Model.RandomProfiler)
    {
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <a href="~/Account/Register">
                    <img src="~/Content/Images/@and.Profilbild" class="img-circle" height="250" width="250" alt="hej">
                </a>
                <div class="caption">
                    <h3>
                        @and.Förnamn @and.Efternamn
                    </h3>
                    @Html.ActionLink(DatingProjekt.Resources.HomeTexts.SeProfil, "Login", "Account", null, new { @class = "btn btn-info" })

                </div>
            </div>
        </div>
    }
</div>