@model DatingProjekt.Models.And
@{
    ViewBag.Title = "Registrera";
}

<h2>Registrera</h2>

<p>Förnamn: </p>@Html.TextBoxFor(x => x.Förnamn, new { @class = "form-control" })
<p>Efternamn: </p>@Html.TextBoxFor(x => x.Efternamn, new { @class = "form-control" })
<p>Kön: </p>@Html.DropDownList("Gender", new List<SelectListItem>{
new SelectListItem{Text = "Man", Value = "Man"},
new SelectListItem{Text = "Kvinna", Value = "Kvinna"}
       }, "Välj kön")
<p>Ålder: </p>@Html.TextBoxFor(x => x.Ålder, new { @class = "form-control" })
<input type="button" class="btn btn-default" value="Register" />

